#menu {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    color: #ebff70;
}

#serial_logger_container, #serial_control_bar {
    font-size: 0.8rem;
    color: #ebff70;
    padding: 0.2rem;
    
}

.hidden {
    display: none;
}