
* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'JI-Chubby-Caps';
    src:url('assets/webfonts/JI-Chubby-Caps.ttf.woff') format('woff');
}

html {
    background-color: #40ce21;
    color: whitesmoke;
    font-size: 20px;
}

h1 {
    font-family: 'JI-Chubby-Caps';
    font-size: 4rem; 
    margin-top: 1rem;
    padding-top: 0;
    margin-bottom: 0;    
    color: lightgray;
    text-shadow: 
        5px 5px 0 #df0005,   /* Bottom-right */
        -5px 5px 0 #df0005,   /* Bottom-left */
        5px -5px 0 #df0005,  /* Top-right */
        -5px -5px 0 #df0005;  /* Top-left */
    text-align: center;
    position: relative;
}

h2 {
    font-family: 'JI-Chubby-Caps';
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 8rem;
    text-align: center;
    color: #307a07;
    text-align: center;
    position: relative;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    color: #307a07;
    text-align: center;
    font-weight: bold;
}

#main-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.line-icon {
    position: absolute;
    bottom: 10px; /* over the line */
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
}

#rectangle-container {
    display: flex; 
    gap: 10px; 
   
}

.rectangle {
    width: 60px;  
    height: 20px; 
    display: inline-block;
}

#frog-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    z-index: 1; /* frog above rectangles */
}


#lawn-mower-row {
    display: flex;
    justify-content: center; 
    gap: 80px; 
    margin-top: 175px; 
    margin-bottom: 100px;
}

.lawn-mower-icon {
    width: 80px; 
    height: 80px;
}

#fly-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1; /* fly above rectangles */
}