@font-face {
    font-family: 'GoshaSans';
    src: url('assets/PPGoshaSans-Regular.woff2') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'GoshaSans';
    src: url('assets/PPGoshaSans-Bold.woff2') format('truetype');
    font-weight: 800;
}

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top */
#container {
    max-width: 712px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'GoshaSans', sans-serif;
}

#message {
    float: left;
    font-size: 22px;
}

#progress-bar {
    float: right;
    font-size: 28px;
}

/* Main */
main {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-message {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
}

#game-message h2 {
    text-align: center;
    line-height: 1.5;
    font-family: 'GoshaSans', sans-serif;
    font-weight: normal;
}

.game-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#tiles {
    display: grid;
    grid-template-columns: repeat(8, 86px);
    margin-top: 60px;
}

.tile {
    width: 86px;
    height: 25px;
    border:1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    /* Ensures tiles stay behind the player */
}

.safe {
    background-color: #BAE88C;
}

.trap {
    background-color: #D2553F;
}

#game-hero {
    position: absolute;
    width: 78px;
    height: 62px;
    top: 7px;
    /* Position the hero above the tiles */
    left: 0;
    /* Start position */
    z-index: 2;
    /* Ensure the hero is above the tiles */
    transition: left 0.3s;
    /* Smooth horizontal movement for normal moves */
}

/* Keyframe animation for falling */
@keyframes fall-animation {
    0% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 300px;
        /* Move down */
        opacity: 0;
        /* Fade out */
    }
}

.fall {
    animation: fall-animation 1s forwards;
    /* Run fall animation once */
}

/* Keyframe animation for jumping */
@keyframes jump-animation {
    0% {
        top: 10px;
    }

    50% {
        top: -20px;
        /* Move up slightly */
    }

    100% {
        top: 10px;
        /* Return to original height */
    }
}

.jump {
    animation: jump-animation 0.5s ease-out;
    /* Run jump animation quickly */
}

.tile {
    transition: background-color 0.3s;
}

.safe {
    background-color: #BAE88C;
}

.trap {
    background-color: #D2553F;
}

.hidden {
    background-color: white;
}

#help-mark-container {
    width: 100%;
    padding-top: 50px;
    cursor: pointer;
}

#help-mark {
    width: 18px;
    height: 25px;
    position: relative;
    font-size: 25px;
    font-family: 'PP Gosha Sans', sans-serif;
    color: #000;
    text-align: left;
    display: inline-block;
}

.invisible {
    display: none !important; /* overrides */
}

#help-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 50px;
    border: 1px solid #000;
    font-family: 'GoshaSans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

#close-button{
    padding: 5px 15px;
    float: right;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #000; 
}

#replay-button{
    padding: 10px 15px;
    font-family: 'GoshaSans', sans-serif;
    font-size: 20px;
    background-color: white;
    border: 1px solid #000;
}