* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-image: url("assets/img/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

header>img {
    width: 50%;
    margin: 0 auto;
}

.container-instruction {
    width: 75%;
    margin: 0 auto;
    background-color: azure;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    line-height: 3rem;
    text-align: center;
}
.container-instruction img {
    height: 3rem;
    text-align: center;
}

.container-instruction h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}

#goto-game:active {
    color: #C88853;
    opacity: 50%;
}

/* Game container style*/
.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* 8bit style cell */
.cell {
    background-color: #EEE;
    text-align: center;
    flex: 0 0 23%;
}

.section-8bit {
    margin: .4rem .1rem 1.3rem;
    width: 100%;
    border-left: 0.7rem solid #C88853;
    border-right: 0.7rem solid #C88853;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section-8bit .wrapper {
    display: block;
    color: #C88853;
    padding: 2rem;
    margin: -.7rem 0;
    border-top: .7rem solid #C88853;
    border-bottom: .7rem solid #C88853;
}

.section-8bit::before,
.section-8bit::after,
.section-8bit .wrapper::before,
.section-8bit .wrapper::after {
    content: '';
    width: .7rem;
    height: .7rem;
    display: block;
    position: absolute;
    background: #C88853;
}

.section-8bit::before {
    top: -5px;
    left: -5px;
}

.section-8bit::after {
    top: -5px;
    right: -5px;
}

.section-8bit .wrapper::before {
    bottom: -5px;
    left: -5px;
}

.section-8bit .wrapper::after {
    bottom: -5px;
    right: -5px;
}

.wrapper img {
    width: 4rem;
}

/* modal/dialog style */
:modal {
    width: 40%;
    padding: 2rem;
    border: none;
    border: 0.7rem solid #C88853;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-color: #e9b68d;
    color: #532b09;
    margin: 0 auto;
    top: 10rem;
}

#dialog-img {
    width: 20%;
}

.modal-btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 40%;
}

.modal-btn:active {
    color: #C88853;
    opacity: 50%;
}

/* Hide footer on desktop version */
footer {
    display: none;
}

/* Responsive layout - Tablet devices */
@media only screen and (max-width: 1200px) {

    body,
    html {
        background-image: url("assets/img/background_tablet.jpg");

        height: auto;
    }

    .cell {
        flex: 0 0 31%;
    }

    header>img {
        width: 60%;
    }

    /* modal/dialog style */
    :modal {
        width: 60%;
    }
    /* footer styling */
    #tablet-foot {
        display: inline-flex;
    }
    #mobile-foot {
        display: none;
    }

    footer {
        background-color: #28d737;
        height: auto;
        position: sticky;
        bottom: 0;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .foot-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }

    footer p {
        margin-bottom: 2rem;
    }
    footer img {
        width: 4rem;
        height: 4rem;
    }

    #img-ts {
        height: 4rem;
        width: auto;
    }

    footer img:active {
        transform: scale(0.98);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        /* Lowering the shadow */
    }
}

/* Responsive layout - Mobile devices*/
@media only screen and (max-width: 768px) {
    .container {
        overflow: scroll;
        padding-bottom: 1rem;
    }

    .cell {
        flex: 0 0 45%;
    }

    header>img {
        width: 80%;
    }

    /* modal/dialog style */
    :modal {
        width: 80%;
    }

    /* footer styling */
    #tablet-foot {
        display: none;
    }
    #mobile-foot {
        display: inline-flex;
    }
    footer {
        background-color: #005fcc;
        height: auto;
        position: sticky;
        bottom: 0;
        width: 100%;
        display: inline-flex;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .foot-container {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer img {
        width: 4rem;
        height: 4rem;
    }

    footer img:active {
        transform: scale(0.98);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        /* Lowering the shadow */
    }
}