

 body {
            
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, rgb(98, 232, 230),rgb(0, 70, 78)); 
    font-family:Georgia, 'Times New Roman', Times, serif;
}
      
h1 {
    font-size: 3rem;
    color: rgb(0, 60, 67);
    position:fixed;
    margin-bottom: 41rem;
  }

  p { 
    font-size: 1.5rem;
    color: rgb(179, 255, 255);
    position:fixed;
    margin-top: 37rem;
  }

  #scoreCounter {
    font-size: 24px;
    font-weight: bold;
   
    position:fixed;
    margin-bottom: 33rem;
    color: rgb(0, 87, 97);
}


 #startButton {

    padding: 0.5rem 1rem; 
    font-size: 1rem;
    color: rgb(0, 60, 67);
    position: centered;
    margin-top: 49rem;
    background-color: rgb(89, 206, 219);
    border-radius: 0.3rem; 
    
    
  
}



canvas {
    border: 2px solid rgb(60, 138, 146);
    background: rgb(255, 255, 255);
    border-radius: 0.5rem; 
    margin: 10rem;
        }


.controls {
    position: absolute;
    top: 20px;
        }
 

      

