
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(2, 2, 67);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow-x: hidden; 
}

header {
    text-align: center;
    margin: 30px 0;
}

h1 {
    font-size: 2.5rem;
    color: yellow;
}

#loadingMessage {
    font-size: 1.5rem;
    color: yellow;
    display: none;
}

#errorMessage {
    display: none;
    font-size: 1.2rem;
    text-align: center;
    color: #e74c3c;
}



main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    height: calc(100vh - 120px); 
}

.visualization-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
    justify-items: center;
    overflow: auto; 
    padding-bottom: 20px; 
}

.visual-element {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.visual-element:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 12px yellow;
}

.shape {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.shape .name {
    position: absolute;
    font-size: 1rem;
    color: #fff;
    z-index: 2;
    pointer-events: none;
}



.square {
    width: 100px;
    height: 100px;
}


.shape-small {
    width: 80px;
    height: 80px;
}

.shape-large {
    width: 120px;
    height: 120px;
}

.shape-holo {
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.7);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-message {
    font-size: 1.5rem;
    color: yellow;
    animation: rotate 2s linear infinite;
}

@media (max-width: 768px) {
    .visualization-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    }

    .shape {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 480px) {
    .shape {
        width: 60px;
        height: 60px;
    }

    .visual-element {
        width: 100%;
        padding: 10px;
    }
}
